<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music Generator</title>
  <meta name="description" content="Lilypond on a Server">
  <meta name="author" content="Keiwan Donyagard">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="stylesheet" type = "text/css" href="{{url_for('static',filename="libraries/bootstrap/css/bootstrap.min.css")}}"-->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="styles/main.css")}}">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	<div class="container">
	    <div id="content">
	        <h1>Music Generator</h1>

    		<!--<form id="fileUpload" enctype="multipart/form-data" action="." method="POST">
    			<input class="inputFile" type="file" id="file" name="file" accept=".ly"></input>
    			<input class="submitbutton" type="submit" id="filesubmit" name="filesubmit" value="CHOOSE LILYPOND FILE"></input>
    		</form>

    		{% if invalid %}
    		    <h2>Incompatible File. Please Upload a Lilypond File (ending with .ly)</h2>
        {% endif %}  -->

        <div class="settings-container">

          <div class="rhythmSetting setting">
            <h2>RHYTHM</h2>
            
            <div class="lock" id="rhythm-lock">
              <img class="unlocked-img" src="{{url_for('static',filename="images/lock-unlocked.png")}}">
              <img class="locked-img hidden" src="{{url_for('static',filename="images/lock-locked.png")}}">
            </div>

            <div class="switch" id="rhythm-switch">
                <input type="radio" name="rhythm-choice-switch" id="rhythm-choice-input" value="choice" checked>
                  <label for="rhythm-choice-input">BY INPUT    <span></span></label>
                </input>

                <input type="radio" name="rhythm-choice-switch" id="rhythm-choice-random" value="random">
                  <label for="rhythm-choice-random"><span></span>   RANDOM</label>
                </input> 
            </div>

            <br><br>

            <div class="noteInput-rhythm input">
              <form id="rhythmInputByButton" action="." method="POST">

                <div id="note-rest-choice">
                  <input type="radio" name="note-rest" id="note-rest-x" value="x" checked>
                    <label for="note-rest-x" ><span></span>NOTE</label></input>
                  <input type="radio" name="note-rest" id="note-rest-r" value="r">
                    <label for="note-rest-r" ><span></span>REST</label></input>
                </div>
                
                <div id="lengthChoice">
                  <input type="radio" name="length" id="length1" value="1">
                    <label for="length1">LENGTH<br><span></span>1</label></input>
                  <input type="radio" name="length" id="length2" value="2">
                    <label for="length2"><span></span>2</label></input>
                  <input type="radio" name="length" id="length4" value="4" checked>
                    <label for="length4"><span></span>4</label></input>
                  <input type="radio" name="length" id="length8" value="8">
                    <label for="length8"><span></span>8</label></input>
                  <input type="radio" name="length" id="length16" value="16">
                    <label for="length16"><span></span>16</label></input>
                  <input type="radio" name="length" id="length32" value="32">
                    <label for="length32"><span></span>32</label></input>
                  <input type="radio" name="length" id="length64" value="64">
                    <label for="length64"><span></span>64</label></input>
                  <input type="radio" name="length" id="length128" value="128">
                    <label for="length128"><span></span>128</label></input>
                </div>

                <input type="checkbox" name="dotted" id="dotted" value=".">
                  <label for="dotted"><span></span>DOTTED</label>
                </input>
                
                <br>
                <input type="button" id="rm-treble-rhythm" name="rm-treble-rhythm" value="<-"></input>
                <input type="button" id="add-rhythm-treble" name="add-rhythm-treble" value="ADD Tr."></input>
                <input type="button" id="add-rhythm-bass" name="add-rhythm-bass" value="ADD Ba."></input>
                <input type="button" id="rm-bass-rhythm" name="rm-bass-rhythm" value="<-"></input>
                <br>
                <textarea class="rhythm-input" id="upper-rhythm" name="rhythm-upper" placeholder="Treble Staff" readonly></textarea>
                
                <textarea class="rhythm-input" id="lower-rhythm" name="rhythm-lower" placeholder="Bass Staff" readonly></textarea>
              </form>
              
            </div>

            <form class="random-form random-rhythm-form hidden" id="rhythm-random-form" action="." method="POST">
              <label>COMPLEXITY</label>
              <input type="radio" name="rhythm-compl" id="rhythm-compl-1" value="1" checked>
                <label for="rhythm-compl-1" ><span></span>1</label></input>
              <input type="radio" name="rhythm-compl" id="rhythm-compl-2" value="2">
                <label for="rhythm-compl-2" ><span></span>2</label></input>
              <input type="radio" name="rhythm-compl" id="rhythm-compl-3" value="3" >
                <label for="rhythm-compl-3" ><span></span>3</label></input>
              <input type="radio" name="rhythm-compl" id="rhythm-compl-4" value="4" >
                <label for="rhythm-compl-4" ><span></span>4</label></input>

            </form>
          </div> <!-- end rhythm setting-->

          <div class="melodySetting setting">
            <h2>MELODY</h2>
            
            <div class="lock" id="rhythm-lock">
              <img class="unlocked-img" src="{{url_for('static',filename="images/lock-unlocked.png")}}">
              <img class="locked-img hidden" src="{{url_for('static',filename="images/lock-locked.png")}}">
            </div>

            <div class="switch" id="melody-switch">
                <input type="radio" name="melody-choice-switch" id="melody-choice-input" value="choice" checked>
                  <label for="melody-choice-input">BY INPUT    <span></span></label>
                </input>

                <input type="radio" name="melody-choice-switch" id="melody-choice-random" value="random">
                  <label for="melody-choice-random"><span></span>   RANDOM</label>
                </input> 
            </div>
            

            <div class="noteInput-melody input">
              <form id="melodyInputByButton" action="." method="POST">
              <div id="accidental-Choice">
                <input type="radio" name="accidental" id="acc-double-flat" value="eses">
                  <label for="acc-double-flat" ><span></span>bb</label></input>
                <input type="radio" name="accidental" id="acc-flat" value="es">
                  <label for="acc-flat" ><span></span>b</label></input>
                <input type="radio" name="accidental" id="acc-natural" value="" checked>
                  <label for="acc-natural" ><span></span>NATURAL</label></input>
                <input type="radio" name="accidental" id="acc-sharp" value="is">
                  <label for="acc-sharp" ><span></span>#</label></input>
                <input type="radio" name="accidental" id="acc-double-sharp" value="isis">
                  <label for="acc-double-sharp" ><span></span>##</label></input>
              </div>
                
                
                <div id="tone-Choice">
                  <input type="radio" name="base-tone" id="base-tone-c" value="c" checked>
                    <label for="base-tone-c"><span></span>C</label></input>
                  <input type="radio" name="base-tone" id="base-tone-d" value="d">
                    <label for="base-tone-d"><span></span>D</label></input>
                  <input type="radio" name="base-tone" id="base-tone-e" value="e">
                    <label for="base-tone-e"><span></span>E</label></input>
                  <input type="radio" name="base-tone" id="base-tone-f" value="f">
                    <label for="base-tone-f"><span></span>F</label></input>
                  <input type="radio" name="base-tone" id="base-tone-g" value="g">
                    <label for="base-tone-g"><span></span>G</label></input>
                  <input type="radio" name="base-tone" id="base-tone-a" value="a">
                    <label for="base-tone-a"><span></span>A</label></input>
                  <input type="radio" name="base-tone" id="base-tone-b" value="b">
                    <label for="base-tone-b"><span></span>B</label></input>  
                </div>
                

                <div id="octaveChoice">
                  <input type="radio" name="octave" id="octave0" value="0">
                    <label for="octave0">OCTAVE<br><span></span>0</label></input>
                  <input type="radio" name="octave" id="octave1" value="1">
                    <label for="octave1"><span></span>1</label></input>
                  <input type="radio" name="octave" id="octave2" value="2">
                    <label for="octave2"><span></span>2</label></input>
                  <input type="radio" name="octave" id="octave3" value="3" checked>
                    <label for="octave3"><span></span>3</label></input>
                  <input type="radio" name="octave" id="octave4" value="4">
                    <label for="octave4"><span></span>4</label></input>
                  <input type="radio" name="octave" id="octave5" value="5">
                    <label for="octave5"><span></span>5</label></input>
                  <input type="radio" name="octave" id="octave6" value="6">
                    <label for="octave6"><span></span>6</label></input>
                  <input type="radio" name="octave" id="octave7" value="7">
                    <label for="octave7"><span></span>7</label></input>
                </div>

                <input type="checkbox" name="chord" id="chord" value=".">
                  <label for="chord"><span></span>CHORD</label>
                </input>

                <br>

                <input type="button" id="rm-treble-melody" name="rm-treble-melody" value="<-"></input>
                <input type="button" id="add-melody-treble" name="add-melody-treble" value="ADD Tr."></input>
                <input type="button" id="add-melody-bass" name="add-melody-bass" value="ADD Ba."></input>
                <input type="button" id="rm-bass-melody" name="rm-bass-melody" value="<-"></input>
                <br>
                <textarea class="melody-input" id="upper-melody" name="melody-upper" placeholder="Treble Staff" readonly></textarea>
                <textarea class="melody-input" id="lower-melody" name="melody-lower" placeholder="Bass Staff" readonly></textarea>
              </form>
              
            </div>

            <form class="random-form random-melody-form hidden" id="melody-random-form" action="." method="POST">
              <label>COMPLEXITY</label>
              <input type="radio" name="melody-compl" id="melody-compl-1" value="1" checked>
                <label for="melody-compl-1" ><span></span>1</label></input>
              <input type="radio" name="melody-compl" id="melody-compl-2" value="2">
                <label for="melody-compl-2" ><span></span>2</label></input>
              <input type="radio" name="melody-compl" id="melody-compl-3" value="3" >
                <label for="melody-compl-3" ><span></span>3</label></input>
              <input type="radio" name="melody-compl" id="melody-compl-4" value="4" >
                <label for="melody-compl-4" ><span></span>4</label></input>
              <input type="radio" name="melody-compl" id="melody-compl-5" value="5" >
                <label for="melody-compl-5" ><span></span>5</label></input>
              <input type="radio" name="melody-compl" id="melody-compl-6" value="6" >
                <label for="melody-compl-6" ><span></span>6</label></input>

            </form>
          </div> <!-- end MELODY setting-->



          <div class="melodySetting setting">
            <h2>EXPRESSION</h2>
            
            <div class="lock" id="rhythm-lock">
              <img class="unlocked-img" src="{{url_for('static',filename="images/lock-unlocked.png")}}">
              <img class="locked-img hidden" src="{{url_for('static',filename="images/lock-locked.png")}}">
            </div>
            <!--
            <div class="switch" id="expression-switch">
                <input type="radio" name="expression-choice-switch" id="expression-choice-input" value="choice" checked>
                  <label for="expression-choice-input">OFF    <span></span></label>
                </input>

                <input type="radio" name="expression-choice-switch" id="expression-choice-random" value="random">
                  <label for="expression-choice-random"><span></span>   RANDOM</label>
                </input> 
            </div>
            -->

            <form class="random-form random-expression-form" id="expression-random-form" action="." method="POST">
              <label>COMPLEXITY</label>
              <input type="radio" name="expression-compl" id="expression-compl-0" value="0" checked>
                <label for="expression-compl-0" ><span></span>OFF</label></input>
              <input type="radio" name="expression-compl" id="expression-compl-1" value="2">
                <label for="expression-compl-1" ><span></span>1</label></input>
              <input type="radio" name="expression-compl" id="expression-compl-2" value="3">
                <label for="expression-compl-2" ><span></span>2</label></input>
              <!--<input type="radio" name="expression-compl" id="expression-compl-3" value="3" >
                <label for="expression-compl-3" ><span></span>3</label></input>-->

            </form>
          </div> <!-- end EXPRESSION setting-->

        </div>

        <form id="mainForm" action="." method="POST">
          <h2>KEY</h2>

          <div id="key-accidental-Choice">
            <input type="radio" name="key-accidental" id="key-acc-flat" value="es">
              <label for="key-acc-flat" ><span></span>FLAT</label></input>
            <input type="radio" name="key-accidental" id="key-acc-natural" value="" checked>
              <label for="key-acc-natural" ><span></span>NATURAL</label></input>
            <input type="radio" name="key-accidental" id="key-acc-sharp" value="is">
              <label for="key-acc-sharp" ><span></span>SHARP</label></input>
          </div>
            
          <div id="key-Choice">
            <input type="radio" name="base-key" id="base-key-c" value="c" checked>
              <label for="base-key-c"><span></span>C</label></input>
            <input type="radio" name="base-key" id="base-key-d" value="d">
              <label for="base-key-d"><span></span>D</label></input>
            <input type="radio" name="base-key" id="base-key-e" value="e">
              <label for="base-key-e"><span></span>E</label></input>
            <input type="radio" name="base-key" id="base-key-f" value="f">
              <label for="base-key-f"><span></span>F</label></input>
            <input type="radio" name="base-key" id="base-key-g" value="g">
              <label for="base-key-g"><span></span>G</label></input>
            <input type="radio" name="base-key" id="base-key-a" value="a">
              <label for="base-key-a"><span></span>A</label></input>
            <input type="radio" name="base-key" id="base-key-b" value="b">
              <label for="base-key-b"><span></span>B</label></input>  
          </div>

          <input type="checkbox" name="major-minor" id="major-minor" value="MAJOR">
            <label id="major-minor-label" for="major-minor"><span></span>MAJOR</label>
          </input>

          <br><br><br>

          <textarea id="title" name="title" placeholder="Title"></textarea>
          <br>
          <input class="button randomButton" id="mainSubmit" type="submit" name="randomFile" value="GENERATE"></input>
          <input class="hidden" type="number" name="rhythm-complexity" id="rhythm-complexity" min="0" max="4"></input>
          <input class="hidden" type="number" name="melody-complexity" id="melody-complexity" min="0" max="6"></input>
          <input class="hidden" type="number" name="expression-complexity" id="expression-complexity" min="0" max="4"></input>
          <textarea class="hidden" id="hidden-rhythm-treble" name="hidden-rhythm-treble"></textarea>
          <textarea class="hidden" id="hidden-rhythm-bass" name="hidden-rhythm-bass"></textarea>
          <textarea class="hidden" id="hidden-melody-treble" name="hidden-melody-treble"></textarea>
          <textarea class="hidden" id="hidden-melody-bass" name="hidden-melody-bass"></textarea>
          <textarea class="hidden" id="hidden-expression-treble" name="hidden-expression-treble"></textarea>
          <textarea class="hidden" id="hidden-expression-bass" name="hidden-expression-bass"></textarea>
          <input class="" type="text" name="hidden-major-minor" id="hidden-major-minor"></input>
          
        </form>

	    </div>

	</div>
	<div id="footer">
       <div id="links">
            <a href="https://github.com/keiwando/musicgenerator">Source Code</a>
            <p>App based on <a href="http://www.lilypond.org/">LilyPond</a> Published under the <a href="http://www.gnu.org/licenses/">GNU General Public License</a></p>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename="js/main.js")}}"></script>
  <!--<script src="{{ url_for('static',filename="libraries/bootstrap/js/bootstrap.min.js")}}"></script>-->
</body>
</html>